.hidden {
    display: none;
}

/* ===== PAGE HEADER SECTION ===== */
.page-header {
    background-color: #252934;
    width: 100vw;
    height: auto;
}

.page-header > h1 {
    text-align: center;
    font-size: 2rem;
    color: #ffffff;
    margin: 0;
    padding: 1rem;
}

/* ===== ABOUT SECTION ===== */
.about-section {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1em;
}

/* --- about header --- */
.about-header {
    line-height: 0.5;
    text-align: center;
    font-size: 1.17rem;
}

.about-header span {
    display: inline-block;
    position: relative;
}

.about-header span:before,
.about-header span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid #20C20E;
    border-top: 1px solid #20C20E;
    top: 0;
    width: 50%;
}

.about-header span:before {
    right: 100%;
    margin-right: 15px;
}

.about-header span:after {
    left: 100%;
    margin-left: 15px;
}

/* --- about container --- */
.clamp {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.p-about-container {
    background-color: #ffffff;
    padding: 1em 2em 2em;
    border-radius: 1em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 1em;
}

.p-about-desc {
    margin: 0;
    font-size: 10pt;
    line-height: 1.375rem;
}

/* --- About: text markups --- */
.about-dev-name {
    font-style: italic;
}

.code-text {
    background-color: #e8e8e8;
    border-radius: 5px;
    padding: 2px;
}

.codeup-name {
    color: #79A24F;
    font-style: italic;
    font-weight: 600;
}
.codeup-name > span {
    color: #4E5D36;
}

/* --- read more button --- */
.read-more-btn {
    border: 2px solid #04C2C9;
    border-radius: 1em;
    align-self: center;
    width: calc(100% - 50%);
    justify-self: center;
    background-color: rgba(58, 62, 72, 1);
    color: #ffffff;
    font-size: 10pt;
    padding: .25em 0;
}

.read-more-btn::-moz-focus-inner {
    border: 0;
}

.read-more-btn:focus, .read-more-btn:active {
    /*
        It is BAD practice to remove the outline of an element as it regresses accessibility.
        Read into it here -->
        If done the BEST PRACTICE is to implement self created outline indicators for accessible users.
    */
    outline: 0;
    /* ACCESSIBLE INDICATOR */
    box-shadow: 0 0 0 3px rgba(0, 123, 255, .5);
    border-style: outset;
    cursor: pointer;
}

/* ===== NETWORK SECTION ===== */
.network-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em 0;
}

.network-option{
    -webkit-box-shadow: 0 5px 3px -6px gray;
    -moz-box-shadow: 0 5px 3px -6px gray;
    box-shadow: 0 5px 3px -6px gray;
    padding: 1em 0;
}

.network-logo {
    width: 50px;
    height: 50px;
}

.network-desc {
    display: none;
}

/* ===== PROFILE SECTION ===== */
.profile-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-section > img:first-child {
    width: 100vw;
    height: auto;
}

.profile-section > img.profile-photo {
    position: absolute;
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

/*X-Small devices (landscape phones, 567px and up)*/
@media (min-width: 567px) {
    /* ===== ABOUT SECTION ===== */
    .about-header span:before,
    .about-header span:after {
        width: 75%;
    }

    /* --- about container --- */
    .clamp {
        -webkit-line-clamp: 6;
    }

    .p-about-container {
        padding: 1em 3em 2em;
    }

    /* ===== PROFILE SECTION ===== */
    .profile-section > img.profile-photo {
        width: 140px;
        height: 140px;
    }

    /* ===== NETWORK SECTION ===== */
    .network-logo {
        width: 55px;
        height: 55px;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    section:nth-child(n+3) {
        margin: 1em 0;
    }

    /* ===== PROFILE SECTION ===== */
    /* higher specificity added w/'section' addition */
    section.profile-section {
        width: 50em;
        margin: 1em auto;
    }

    .profile-section > img:first-child {
        border-radius: 3em;
    }

    .profile-section > img.profile-photo {
        width: 150px;
        height: 150px;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    /* ===== ABOUT SECTION ===== */
    .about-header span:before,
    .about-header span:after {
        width: 100%;
    }

    /* --- about container --- */
    .clamp {
        -webkit-line-clamp: 5;
    }

    .p-about-container {
        padding: 1em 5em 2em;
    }

    /* ===== PROFILE SECTION ===== */
    section.profile-section {
        width: 60em;
    }

    .profile-section > img.profile-photo {
        width: 160px;
        height: 160px;
    }

    /* ===== NETWORK SECTION ===== */
    .network-option {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 10em;
        text-align: center;
    }

    .network-logo {
        width: 60px;
        height: 60px;
    }

    .network-desc {
        display: block;
        font-size: 8pt;
    }

    .github-name {
        color: #000000;
        font-weight: 600;
    }

    .linkedin-name {
        color: #0077B7;
        font-weight: 600;
    }

    .network-domain {
        font-style: italic;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    /* ===== ABOUT SECTION ===== */
    .about-header span:before,
    .about-header span:after {
        width: 150%;
    }
    /* --- about container --- */
    .clamp {
        -webkit-line-clamp: 0;
    }

    .p-about-container {
        margin: 0 5em;
    }

    /* --- read more button --- */
    .read-more-btn {
        width: calc(100% - 75%);
    }

    /* ===== PROFILE SECTION ===== */
    section.profile-section {
        width: 70em;
    }

    .profile-section > img.profile-photo {
        width: 170px;
        height: 170px;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}
