/* ===== PAGE HEADER SECTION ===== */
.page-header {
    background-color: #252934;
    width: 100vw;
    height: auto;
}

.page-header > h1 {
    text-align: center;
    font-size: 2rem;
    color: #ffffff;
    margin: 0;
    padding: 1rem;
}

/* ===== STYLED HEADING ===== */
.styled-heading{
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
    letter-spacing: 0.08em;
    font-weight: 300;
    text-shadow: 0 1px 1px #FFFFFF;
    text-transform: uppercase;
    color: #FF6600;
}

.bottom-divider {
    border-bottom: 1px solid lightgray;
    background-color: #DADADA;
    height: 1px;
    margin: 0.5em 0 1.5em;
}

.bottom-divider > span {
    display: block;
    width: 50px;
    height: 1px;
    background: red;
}

/* ===== VERBAL LANGUAGE SECTION ===== */
/* --- v-lang-header --- */
.v-lang-container {
    margin: 1em 1em;
}

.v-lang-header > .styled-heading {
    color: #FF6600;
}

.v-lang-header > .bottom-divider > span {
    background: #FF6600;
}

/* --- v-lang-table-container --- */
.v-lang-table-container {
    width: 90%;
    margin: 0 auto;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.75);
    border: 1px solid lightgray;
    max-height: 12em;
}
.v-lang-table-header {
    border: 1px solid black;
    background: rgba(255,102,0,0.9);
    font-size: 8pt;
}

.v-lang-table-row {
    border-bottom: 1px dotted grey;
}

.v-lang-table-row:last-child {
    border-bottom: none;
}


.table-row {
    display: grid;
    /*grid-template-columns: repeat(auto-fill, 33%);*/
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: none;
    justify-items: center;
    align-items: center;
}

.table-cell {
    height: 100%;
    width: 100%;
    padding: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.table-cell:first-child {
    border-right: 1px solid lightgrey;
}

.table-cell:last-child {
    border-left: 1px solid lightgrey;
}

.table-header {
    color: #FFFFFF;
    padding: .5em 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.table-header:first-child {
    border-right: 1px solid white;
}

.table-header:last-child {
    border-left: 1px solid white;
}
.table-language {}
.table-level {}
.table-name {}


/* ===== EQUIPMENT SECTION ===== */
/* --- equip-header --- */
.equip-container {
    margin: 1em 1em;
}

.equip-header > .styled-heading {
    color: #1589FF;
}

.equip-header > .bottom-divider > span {
    background: #1589FF;
}

/* ===== SKILL METER SECTION ===== */
.skill-meter-section {
    width: calc(100vw - 1em);
    /* shorthand: top sides bottom */
    padding: 1em 1em 2em;
    margin: 1rem auto 0;
    background-color: #d2d2d2;
    border-radius: 1em;
}

.skill-bar:first-child {
    margin-top: 0;
}

.skill-bar:last-child {
    margin-bottom: 0;
}

.skill-bar {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin: 2em 0;
    height: 2em;
    z-index: 1;
    background: #eeeeee;
    border-bottom-right-radius: .5em;
    border-top-right-radius: .5em;
    /*border: 1px solid red;*/
}

.skill-meter {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 2;
    background: rgba(0,174,255,1);
    background: linear-gradient(90deg, rgba(231,219,16,0.9962359943977591) 0%, rgba(0,174,255,1) 100%);
    /*background: linear-gradient(90deg, rgba(242,16,7,1) 0%, rgba(231,219,16,0.9962359943977591) 35%, rgba(0,174,255,1) 100%);*/
    border-bottom-right-radius: .5em;
    border-top-right-radius: .5em;
    /*border: 1px solid blue;*/
}

.skill-name {
    position: absolute;
    /* Calculate:
        totalHeight - (totalHeight + (excess above 100% / 2))
        this is done to increase height of name div and display even spacing at top and bottom
    */
    top: calc(125% - (125% + (25%/2)));
    left: 0;
    width: 8em;
    height: 125%;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    text-align: center;
    background: lightslategray;
    margin: 1em 0;
    border-top-left-radius: .5em;
    border-bottom-right-radius: .5em;
    /*border: 1px solid green;*/
}

.skill-percentage {
    display: flex;
    align-items: center;
    z-index: 3;
    padding-right: .25em;
    /*border: 1px solid yellow;*/
}

/* --- animation --- */
@keyframes expandWidth {
    /*
    Starting frame (0%) width set to 0;
    Final frame (100%) is "auto" by not explicitly defining a final frame. This allows animation to continue until actual defined width is met.
    */
    0% { width: 0; }
}

/* --- skills --- */
.html {
    width: 90%;
    animation: expandWidth 2s;
}
.css {
    width: 90%;
    animation: expandWidth 2s;
}
.javascript {
    width: 80%;
    animation: expandWidth 2s;
}
.jquery {
    width: 80%;
    animation: expandWidth 2s;
}
.bootstrap {
    width: 85%;
    animation: expandWidth 2s;
}
.java {
    width: 65%;
    animation: expandWidth 2s;
}
.mysql {
    width: 65%;
    animation: expandWidth 2s;
}
.spring {
    width: 65%;
    animation: expandWidth 2s;
}

/* ===== SECTION ===== */

/*X-Small devices (landscape phones, 567px and up)*/
@media (min-width: 567px) {}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .v-lang-container {
        width: 90%;
        margin: 0 auto;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}