/* ===== SECTION SPACING ===== */
main section:last-child {
    margin-bottom: 1.5em;
}

/* ===== PAGE HEADER SECTION ===== */
.page-header {
    background-color: #252934;
    width: 100vw;
    height: auto;
}

.page-header > h1 {
    text-align: center;
    font-size: 2rem;
    color: #ffffff;
    margin: 0;
    padding: 1rem;
}

/* ===== EXPAND/COLLAPSE HEADER ICON ===== */
.exp-coll-head-cont {
    margin-right: 2em;
}

.exp-coll-butt-cont {
    width: 14px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes disabledIndicator {
    0%{
        background-color: rgba(255,0,0,0.1);
    }
    40%{
        background-color: rgba(255,0,0,1);
    }
    100% {
        background-color: transparent;
    }
}
@-webkit-keyframes disabledIndicator {
    0%{
        background-color: rgba(255,0,0,0.1);
    }
    40%{
        background-color: rgba(255,0,0,1);
    }
    100% {
        background-color: transparent;
    }
}

.animateIndicator {
    border-radius: 50%;
    animation-name: disabledIndicator;
    animation-iteration-count: 1;
}

.exp-coll-button {
    position: relative;
    width: 10px;
    height: 10px;
}

@keyframes expCollButtBackground {
    0%, 100%{
        background-color: #FFFFFF;
    }
}
@-webkit-keyframes expCollButtBackground {
    0%, 100%{
        background-color: #FFFFFF;
    }
}

 .animateIndicatorBack {
     border-radius: 50%;
     animation-name: expCollButtBackground;
     animation-iteration-count: 1;
 }

.exp-coll-button::before, .exp-coll-button::after {
    content: "";
    position: absolute;
    background: lightslategray;
    transition: transform 0.25s ease-out;
}

/* --- vertical bar --- */
.exp-coll-button::before {
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    margin-left: -1px;
}

/* --- horizontal bar --- */
.exp-coll-button::after {
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    margin-top: -1px;
}

.opened :before {
    transition: all 0.5s ease-in-out;
    transform: rotate(90deg);
}

.opened :after {
    transition: all 0.5s ease-in-out;
    transform: rotate(180deg);
    opacity: 0;
}

/* ===== STYLED HEADING ===== */
.styled-heading {
    /*font-family: 'Roboto Slab', serif;*/
    font-size: 1.5em;
    letter-spacing: 0.08em;
    font-weight: 600;
    text-shadow: 0 1px 1px #FFFFFF;
    text-transform: uppercase;
    color: #FF6600;
}

h3.styled-heading {
    margin: 1em 0;
}

.bottom-divider {
    border-bottom: 1px solid lightgray;
    background-color: #DADADA;
    height: 1px;
    /*margin: 0.5em 0 1.5em;*/
    /*margin: 0 0 1.5em;*/
}

.bottom-divider > span {
    display: block;
    width: 50px;
    height: 1px;
    background: red;
}

/* ===== INNER SECTION SECOND DIV MARGIN SPACING ===== */
.safe-area > div > div:nth-child(n+2) {
    margin-top: 1.5em;
}

/* ===== INNER SECTION LAST DIV MARGIN SPACING ===== */
.safe-area > div > div:last-child {
    margin-bottom: 4em;
}

/* ===== VERBAL LANGUAGE SECTION ===== */
/* --- v-lang-header --- */
.v-lang-container {
    margin: 0 1em;
}

.v-lang-header > div > .styled-heading {
    color: #FF6600;
}

.v-lang-header > .bottom-divider > span {
    background: #FF6600;
}

.v-lang-head-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* --- v-lang-table-container --- */
.v-lang-table-container {
    width: 90%;
    margin: 0 auto;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.75);
    border: 1px solid lightgray;
    /*max-height: 12em;*/
    border-radius: 1em;
}

.v-lang-table-header {
    background: rgba(255, 102, 0, 0.9);
    font-size: 8pt;
    border: 1px solid black;
    border-top-left-radius: .85em;
    border-top-right-radius: .85em;
}

.v-lang-table-row {
    border-bottom: 1px dotted grey;
}

.v-lang-table-row:last-child {
    border-bottom: none;
}


.table-row {
    display: grid;
    /*grid-template-columns: repeat(auto-fill, 33%);*/
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: none;
    justify-items: center;
    align-items: center;
}

.table-cell {
    height: 100%;
    width: 100%;
    padding: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.table-cell:first-child {
    border-right: 1px solid lightgrey;
}

.table-cell:last-child {
    border-left: 1px solid lightgrey;
}

.table-header {
    color: #FFFFFF;
    padding: .5em 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.table-header:first-child {
    border-right: 1px solid white;
}

.table-header:last-child {
    border-left: 1px solid white;
}

.table-language {
}

.table-level {
}

.table-name {
}


/* ===== EQUIPMENT SECTION ===== */
/* --- equip-header --- */
.equip-container {
    margin: 0 1em;
}

.equip-header > div > .styled-heading {
    color: #1589FF;
}

.equip-header > .bottom-divider > span {
    background: #1589FF;
}

.equip-head-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* --- equip table --- */
.equip-table {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid lightgrey;
    border-radius: 1em;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.75);
}

.equip-table-row {
    display: grid;
    grid-template-columns: 34% 66%;
    grid-template-rows: none;
    /*justify-content: center;*/
    /*align-items: center;*/
}

.equip-table-row:first-child > .equip-category {
    border-top-left-radius: 1em;
}

.equip-table-row:last-child > .equip-category {
    border-bottom-left-radius: 1em;
}

.equip-category {
    width: 100%;
    height: 100%;
    padding: 1em 0;
    text-align: center;
    background: #1589FF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gold;
}

.equip-desc {
    width: 100%;
    height: 100%;
    padding: 1em 0 1em .5em;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgreen;
}

/* ===== SKILL METER SECTION ===== */
.skill-meter-section {
}

.skills-container {
    margin: 0 1em;
}

.skills-head-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* --- skill header --- */
.skills-header > div > .styled-heading {
    color: #4bce3f;
}

.skills-header > .bottom-divider > span {
    background: #4bce3f;
}

/* --- skills bar container --- */
.skills-bar-container {
    width: 95%;
    margin: 0 auto;
    /*!* shorthand: top sides bottom *!*/
    padding: 1em 1em 2em;
    background-color: #d2d2d2;
    border-radius: 1em;
}

/* --- skill bars --- */
.skill-bar:first-child {
    margin-top: 0;
}

.skill-bar:last-child {
    margin-bottom: 0;
}

.skill-bar {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin: 2em 0;
    height: 2em;
    z-index: 1;
    background: #eeeeee;
    border-bottom-right-radius: .5em;
    border-top-right-radius: .5em;
    border-top-left-radius: .5em;
    border: 1px solid #FFFFFF;
}

.skill-meter {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 2;
    background: rgba(0, 174, 255, 1);
    background: linear-gradient(90deg, rgba(231, 219, 16, 0.9962359943977591) 0%, rgba(0, 174, 255, 1) 100%);
    /*background: linear-gradient(90deg, rgba(242,16,7,1) 0%, rgba(231,219,16,0.9962359943977591) 35%, rgba(0,174,255,1) 100%);*/
    border-bottom-right-radius: .5em;
    border-top-right-radius: .5em;
    border-top-left-radius: .5em;
    /*border: 1px solid blue;*/
}

.skill-name {
    position: absolute;
    /* Calculate:
        totalHeight - (totalHeight + (excess above 100% / 2))
        this is done to increase height of name div and display even spacing at top and bottom
    */
    top: calc(125% - (125% + (25% / 2)));
    left: -1px;
    width: 8em;
    height: 125%;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    text-align: center;
    background: lightslategray;
    margin: 1em 0;
    border-top-left-radius: .5em;
    border-bottom-right-radius: .5em;
    /*border: 1px solid green;*/
}

.skill-percentage {
    display: flex;
    align-items: center;
    z-index: 3;
    padding-right: .25em;
    /*border: 1px solid yellow;*/
}

/* --- animation --- */
@keyframes expandWidth {
    /*
    Starting frame (0%) width set to 0;
    Final frame (100%) is "auto" by not explicitly defining a final frame. This allows animation to continue until actual defined width is met.
    */
    0% {
        width: 0;
    }
}

@-webkit-keyframes expandWidth {
    0% {
        width: 0;
    }
}

.animateMeter {
    animation: expandWidth;
    animation-duration: 2s;
    animation-iteration-count: 1;
    /*animation-timing-function: ease-in-out;*/
}

/* --- skills --- */
.html {
    width: 90%;
    /*animation: expandWidth 2s;*/
}

.css {
    width: 90%;
    /*animation: expandWidth 2s;*/
}

.javascript {
    width: 80%;
    /*animation: expandWidth 2s;*/
}

.jquery {
    width: 80%;
    /*animation: expandWidth 2s;*/
}

.bootstrap {
    width: 85%;
    /*animation: expandWidth 2s;*/
}

.java {
    width: 65%;
    /*animation: expandWidth 2s;*/
}

.mysql {
    width: 65%;
    /*animation: expandWidth 2s;*/
}

.spring {
    width: 65%;
    /*animation: expandWidth 2s;*/
}

/* ===== TOOL SECTION ===== */
/* --- tool-header --- */
.tool-container {
    margin: 0 1em;
}

.tools-head-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tool-header > div > .styled-heading {
    color: #E1236E;
}

.tool-header > .bottom-divider > span {
    background: #E1236E;
}

/* --- tool catalog --- */
.tool-catalog {
    position: relative;
}

.tool-catalog-height-container {
    /*
    60 : .tool-item : rows(2) in view * li:height(60)
    30 : total for shelf-plank and shelf-molding : rows(2) in view * shelf:height(30)
    8 : accounting borders : borders are 1px, (rows(2) * li:height(60)) + (rows(2) * shelf:height(30)) + ((rows(2) + shelvesCount(2)) * borderTotal:Top&Bottom(2px))
    */
    height: calc((60px * 2) + (30px * 2) + (2px * 4));
}

/* --- catalog list --- */
.catalog-list {
    list-style: none;
    width: 80%;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    /*
        height for shelf to fit in gap
        32px is the height of the shelf itself
        5px to compensate for the shadow
    */
    grid-row-gap: calc(32px + 5px);
    justify-items: center;
    /*border: 1px solid black;*/
    z-index: 1;

}

/*.catalog-list > li {*/
.tool-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid silver;
    background: whitesmoke;
    margin: 0 0.5em;
    padding: 0.5em;
    max-width: 7em;
    border-radius: 1em;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.6);
    /*animation: toolScaleUp 1s infinite;*/
}

/*.catalog-list > li > img {*/
.tool-item > img {
    height: 50px;
    width: 50px;
}

/*.catalog-list > li > img[alt="git logo"] {*/
.tool-item > img[alt="git logo"] {
    /*padding: 25% 0;*/
    height: auto;
}

@keyframes toolScaleUp {
    0% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }

    50% {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
    }

    100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.animateTool {
    animation: toolScaleUp;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

.tool-item:hover {
    transition: all .5s ease-in-out;
    transform: scale(1.1);
}

/* --- shelves-container --- */
.shelves-container {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -1;
}

/* --- shelf container --- */
.shelf-container {
    /*position: relative;*/
    /*display: flex;*/
    /*justify-content: flex-end;*/
    width: 90%;
    /*height: 42px;*/
    /*
    HEIGHT is 30px because shelf-plank and shelf-molding account for 30px total
    !NOTE: if border is applied take into account and change height
    e.g) 1px border then the height should be 32px to account for those two pixels added total
    */
    height: 30px;
    /*margin: 20px auto;*/
    margin: 0 auto;
    /*border: 1px solid black;*/
    /*
    margin is based on contributing factors:
    AMOUNT : css specificity : description
    50 : catalog-list > li > img : size of img is 50x50
    2 : catalog-list > li : 1px border adds 2px total for top and bottom (omitted)
    10 : catalog-list > li , 0.5em padding adds 10px total for top and bottom
    END OF ACTUAL LOGO CONTAINER
    10 : catalog-list > li : box-shadow offset-x by 10px
    */
    /*margin-top: 52px;*/
    margin-top: 60px;
}

/* every shelf except the first */
.shelf-container:nth-child(n + 2) {
    /*
    margin determined by previous standards including:
    5 : shelf-molding > div : box-shadow offset-x 5px
    */
    margin-top: 67px;
}

.shelf-plank {
    position: relative;
    display: flex;
    justify-content: flex-end;

}

.shelf-top-left {
    position: absolute;
    top: 0;
    left: 12px;
    width: 55%;
    height: 20px;
    background: #C19A6B;
    background: linear-gradient(to bottom, #C19A6B 0%, #B28B5C 100%);
    background: linear-gradient(to bottom, #CC9966 0%, #BD8A57 100%);
    transform: skewX(-50deg);
    border: 1px solid black;
    border-bottom: none;
}

.shelf-top-right {
    position: absolute;
    right: 12px;
    top: 0;
    width: 55%;
    height: 20px;
    background: #C19A6B;
    background: linear-gradient(to bottom, #C19A6B 0%, #B28B5C 100%);
    background: linear-gradient(to bottom, #CC9966 0%, #BD8A57 100%);
    transform: skew(50deg);
    border: 1px solid black;
    border-left: none;
    border-bottom: none;
}

.shelf-molding {
    position: relative;
}

.shelf-molding > div {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 10px;
    background: #C19A6B;
    background: linear-gradient(to bottom, #C19A6B 0%, #B28B5C 100%);
    background: linear-gradient(to bottom, #CC9966 0%, #BD8A57 100%);
    border: 1px solid black;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
}

/*X-Small devices (landscape phones, 567px and up)*/
@media (min-width: 567px) {
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .v-lang-container {
        width: 90%;
        margin: 0 auto;
    }

    .equip-container {
        width: 90%;
        margin: 0 auto;
    }

    .skills-container {
        width: 90%;
        margin: 0 auto;
    }

    .tool-container {
        width: 90%;
        margin: 0 auto;
    }

    .equip-table {
        width: 70%;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}