<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--    Below is the footer partial to be used for every page   -->
<!-- FOOTER PARTIAL-->
<footer>
    <div class="footer-menu">
        <div class="f-title">
            <h3 class="f-content-title">Menu</h3>
        </div>
        <ul class="f-menu-list">
            <li><a href="about.html"><span class="f-nav-link">About</span></a></li>
            <li><a href="portfolio.html"><span class="f-nav-link">Portfolio</span></a></li>
            <li><a href="skillsTools.html"><span class="f-nav-link">Skills & Tools</span></a></li>
        </ul>
    </div>
    <div class="footer-network">
        <div class="f-title">
            <h3 class="f-content-title">Network</h3>
        </div>
        <ul class="f-network-list">
            <li><a href="https://github.com/miguelgarcia210"><span class="f-nav-link">GitHub</span></a></li>
            <li><a href="https://www.linkedin.com/in/miguelgarcia210"><span class="f-nav-link">LinkedIn</span></a></li>
            <li><a href=""><span class="f-nav-link">E-mail</span></a></li>
        </ul>
    </div>
    <span class="footer-copyright">MIGUEL GARCIA <span class="f-copyright-stamp">&copy2020</span></span>
</footer>

</body>
</html>