<!DOCTYPE html>
<html lang="en">
<!--    Below is the head partial to be used for every page   -->
<!--    HEAD PARTIAL    -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="./css/pageTemplate.css">
    <link rel="stylesheet" href="./css/header.css">
    <!--    TODO: Link specific page stylesheet    -->
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="./css/footer.css">
    <!--    TODO: Enter page title  -->
    <title></title>
    <!--    Open Graph meta Tag    -->
    <meta property="og:title" content="Software Developer: Miguel Garcia">
    <meta property="og:description" content="">
    <meta property="og:image" content="https://raw.githubusercontent.com/miguelgarcia210/miguelgarcia210.github.io/master/images/open-graph-logo-miguelgarcia.png">
    <meta property="og:url" content="https://miguelgarcia210.github.io">
    <!--    Facebook meta tag   -->
    <meta property="og:site_name" content="Software Developer: Miguel Garcia">
    <!--    Twitter meta tag    -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:alt" content="Software Developer: Miguel Garcia Logo">
    <!--    Fav Icons    -->
    <link rel="apple-touch-icon" sizes="180x180" href="./images/logo/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/logo/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/logo/icons/favicon-16x16.png">
    <link rel="manifest" href="./images/logo/icons/site.webmanifest">
    <link rel="mask-icon" href="./images/logo/icons/safari-pinned-tab.svg" color="#24635c">
    <link rel="shortcut icon" type="image/x-icon" href="./images/logo/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#24635c">
    <meta name="msapplication-config" content="./images/logo/icons/browserconfig.xml">
    <meta name="theme-color" content="#24635c">
</head>
<body>

</body>
</html>